@model SummerCamp.Web.Models.AnnouncementDelete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnnouncementDelete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


        @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { role = "form" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @if (ViewBag.Result != null)
                {
                    <div style="color:red">@ViewBag.Result</div>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(a => a.Email)
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.Email)
            </div>
            <input type="submit" value="Create" class="btn-default" />
        }

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
